.env.example
.env.backup
.dockerignore
.editorconfig
.DS_Store
/.idea
/.fleet
/.vscode
/.phpunit.result.cache
/.git
Dockerfile
/node_modules
/vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
/public/build
/public/hot
/public/storage
/phpunit.xml
tests
/public/build
/public/storage
/public/images/posts
/public/images/food-products

